/*
Theme Name: Theme_by_Stepan
Theme URI: http://test.ru/
Description: example
Author: Author
Version: 1.0
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, p, a, em, img, small, strong, 
b, center, ol, ul, li, table, tr, th, td, footer,
header, menu, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
	height: 100%;
}
body{
	height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #fff;
}
*{
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:hover{
	text-decoration: none;
}
ol, ul{
	list-style: none;
}
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}

.container{
	width: 940px;
	margin: 0 auto;
}
.logo{
	float: left;
}
.logo-size{
	color: #FFD700;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}
#header{
	padding: 20px 0;
	position: absolute;
	top: 20px;
	width: 100%;
}
.nav{
	float: right;
	padding-top: 5px;
}
.nav li{
	float: left;
	margin-right: 40px;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li a{
	font-size: 14px;
	text-transform: uppercase;
	font: Arial, sans-serif;
	color: #fff;
}
.nav a:hover{
	color: #FFD700;
}
#home{
	height: 700px;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	background: #222 url(img/home_bg.jpg) no-repeat bottom;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#home h3{
	font: 40px/40px Arial, sans-serif;
	margin-bottom: 40px;
}
#home h1{
	font: 75px/75px Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.btn{
	display: inline-block;
	padding: 20px 30px;
	background: #fed136;
	font: bold 24px/24px Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.btn:hover{
	background: #FFD700;
	color: #fff;
}
.box{
	padding: 100px 0 50px 0;
}
#services{
	text-align: center;
}
h2.title{
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 10px;
}
p.descr{
	color: #777;
	font-size: 16px;
	margin-bottom: 10px;
}
h5.title{
	margin-bottom: 10px;
	font: bold 18px/18px Arial, sans-serif;
	color: #222;
}
.services-item p{
	color: #777;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}
.services-item{
	margin-top: -100px;
	float: left;
	width: 33.33%;
	padding: 200px 10px 0;
}
.commerce{
	background: url(img/icon1.png) no-repeat center top;
	background-size: 250px;
}
.responsive{
	background: url(img/icon2.png) no-repeat center top;
	background-size: 250px;
}
.security{
	background: url(img/icon3.png) no-repeat center top;
	background-size: 250px;
}
#portfolio{
	text-align: center;
	background: #f7f7f7;
}
.portfolio-item{
	width: 31%;
	margin-right: 3.5%;
	float: left;
	margin-bottom: 50px;
	background: #fff;
}
.portfolio-item:nth-child(3n){
	margin-right: 0;
}
.p-item-footer{
	padding: 25px 20px;
}
.p-item-footer h5.title{
	margin-bottom: 4px;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3){
	margin-bottom: 0;
}
.portfolio-wrap,
.about-wrap,
.services-wrap,
.team-wrap,
#message{
	padding-top: 70px;
}
.portfolio-item span{
	color: #777;
}

#about{
	text-align: center;
}
.about-text{
	width: 35%;
}
.about-img{
	width: 30%;
}
.about-img img{
	display: inline-block;
	border: 7px solid #f1f1f1;
}
.about-text h5{
	line-height: 24px;
}
.about-text p{
	font-size: 16px;
	color: #777;
	line-height: 24px;
}
.about-text h5 span{
	text-transform: uppercase;
}
.about-text h5{
	font-size: 20px;
}
.about-text span{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}
.left{
	float: left;
}
.right{
	float: right;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.about-item:nth-last-child(1),
.about-item:nth-last-child(2),
.about-item:nth-last-child(3),
.about-item:nth-last-child(4){
	margin-top: 40px;
}
.about-link{
	display: inline-block;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	background: #fed136;
	padding: 20px 30px;
	background: #fed136;
	font: bold 24px/30px Arial, sans-serif;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,.3);
}
.about-link:hover{
	background: #FFD700;
	color: #fff;
}
#team{
	text-align: center;
	background: #f7f7f7;
}
.team-item{
	float: left;
	width: 33.33%;
}
.team-item img{
	display: inline-block;
	border: 7px solid #fff;
	margin-bottom: 15px
}
.cat{
	font: 14px/14px Arial, sans-serif;
	color: #777;
}
.social{
	margin-top: 10px;
}
.social a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 3px solid #222;
	border-radius: 20%;
	-webkit-border-radius: 20%;
	-o-border-radius: 20%;
	-moz-border-radius: 20%;
	margin-right: 3px;
}
a.fb{
	background: url(img/fb.png) no-repeat;
	background-size: 40px;
	background-position: -3px -8px;
}
a.vk{
	background: url(img/vk.png) no-repeat;
	background-size: 35px;
	background-position: 0px -3px;
}
a.inst{
	background: url(img/inst.png) no-repeat;
	background-size: 80px;
	background-position: -23px -34px;
}
a.fb:hover{
	background: url(img/fb1.png) no-repeat;
	background-size: 40px;
	background-position: -3px -8px;
}
a.vk:hover{
	background: url(img/vk1.png) no-repeat;
	background-size: 30px;
	background-position: 2px -2px;
}
a.inst:hover{
	background: url(img/inst1.png) no-repeat;
	background-size: 42px;
	background-position: -4px -9px;
}
.team-info{
	margin-top: 45px;
}
#brand{
	padding: 60px 0;
	text-align: center;
}
#brand a{
	display: inline-block;
	margin-right: 40px;
}
#brand a:last-child{
	margin-right: 0;
}
#brand img{
	vertical-align: middle;
}
#contact{
	text-align: center;
	background: #222;
}
#contact h2.title{
	color: #fff;
}
#message .left,
#message .right{
	width: 48%;
}

#message input[type="text"],
#message textarea {
	width: 100%;
	padding: 15px 20px;
	background: #fff;
	margin-bottom: 30px;
	font: bold 14px/14px Arial, sans-serif;
	color: #222;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
}
#message input[type="text"]{
	height: 50px;
	border: 1px solid #ccc;
}
#message textarea{
	border: none;
	height: 210px;
	resize: none;
	font: 14px/14px Arial, sans-serif;
}
::-webkit-input-placeholder{
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
	text-transform: uppercase;
}
::-moz-placeholder{
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
	text-transform: uppercase;
}
#message input[type="submit"]{
	color: #fff;
}
#message input[type="submit"].btn {
	border: none;
}
#copyright{
	padding: 25px 0;
}
#copyright p{
	font: 14px/14px Arial, sans-serif;
	color: #555;
	margin-top: 15px;
}
#copyright .social1{
	margin-top: 0;
	margin-left: 400px;
}
.social1{
	margin-top: 10px;
}
#copyright .social1 a{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 3px;
}
a.fb1{
	background: url(img/fb.png) no-repeat;
	background-size: 40px;
	background-position: -3px -8px;
}
a.vk1{
	background: url(img/vk.png) no-repeat;
	background-size: 35px;
	background-position: 0px -3px;
}
a.inst1{
	background: url(img/inst.png) no-repeat;
	background-size: 80px;
	background-position: -23px -34px;
}